<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataService" maxReceivedMessageSize = "10000000">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost/WcfDataService/DataService.svc/username"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="ServiceReference1.IDataService" name="WSHttpBinding_IDataService" behaviorConfiguration="myBehavior">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAmpfo/8d1Zet5TK2uiaDNdjY5sS0gAAAAAQAAALUBAAAwggGxMIIBX6ADAgECAhBMNZRhZ3+drEXNWUuOR+cZMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTYwNTI1MDUxNzM5WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAM1mNwA9JZbyS76Z8FMM3IVTIn4LTXlvl/utwCGvL6oRBQqE0kMyAFUsj7AgHXtdSG61/l47Z3zEX2z+j+z7axMbPsxVF5YbZU7gZLngQcZaZqmrD9OT6qmy9fzfCknnrnFfqIUFfSu3YP+Xk0cRx5g2kCjs7SABixqnoX/cgy1TAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAKKhkwFrWTlocgXfchGeL4OsKzZVCLPa8VXWj5erZ0HjUZ9+Dh3kOIdeIEG8Dskv7Ij0Gi9UUBFHn9PKgs2tVog==" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="myBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>