<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManageDBTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManageDBTool.Properties.Settings>
            <setting name="conn" serializeAs="String">
                <value>Server=.; Database=managedb; Uid=sa; Pwd=123456</value>
            </setting>
            <setting name="dbtype" serializeAs="String">
                <value>mssql</value>
            </setting>
        </ManageDBTool.Properties.Settings>
    </userSettings>
</configuration>