<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--请不要修改name属性内容（name有特定含义datasourcename_dbtype_name），可修改connectionString连接串内容-->
    <add name="管理数据源_MsSql_managedb" connectionString="Server=.; Database=managedb; Uid=sa; Pwd=123456"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="WcfDataServiceBehavior" name="WcfDataService.DataService">
        <endpoint address="username"
          binding="wsHttpBinding" bindingConfiguration="Binding1"
          contract="WcfDataService.IDataService" />
      </service>
    </services>


    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfDataServiceBehavior">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>

          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfDataService.CustomUserNameValidator, WcfDataService" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>

          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WcfDataService.SimpleServiceAuthorizationManager,WcfDataService" />

        </behavior>


      </serviceBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
