	<style type="text/css">
	.auto-style1 {
		text-align: center;
		font-size: x-large;
	}
	.auto-style4 {
		font-size: 11pt;
	}
	.auto-style5 {
		text-align: center;
		background-color: #C0C0C0;
	}
	.auto-style6 {
	font-size: 11pt;
	margin-left: 40px;
}
.auto-style7 {
	font-size: 11pt;
	margin-left: 80px;
}
	</style>
