vti_encoding:SR|utf8-nl
vti_author:SR|zhh-PC\\zhh
vti_modifiedby:SR|zhh-PC\\zhh
vti_timelastmodified:TR|18 May 2015 14:43:59 -0000
vti_timecreated:TR|18 May 2015 14:43:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ppowerline_class.html powerbasicobject_class.html psymbolobject_class.html pText_Class.htm
vti_nexttolasttimemodified:TW|18 May 2015 14:43:36 -0000
vti_cacheddtm:TX|18 May 2015 14:43:59 -0000
vti_filesize:IR|341
