<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataService" maxReceivedMessageSize="12800000">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfDataService/DataService.svc/username"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="WcfDataService.IDataService" name="WSHttpBinding_IDataService" behaviorConfiguration="myBehavior">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAyRs3jLU5zmG2fvZYgrzyBTwivEYgAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhBD7+OORiQzqURXT0Yv9th8MA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNTExMjkxOTExMDZaFw0yMDExMzAwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA0h+rKtkgUSOWwrFZPUiU9OUONB68Sdgqh2VSz4ly20mxmFxAHvAPVD1jCcg36Uf+SUzljgHX5yQ8wLDQ3SBn2tbAgeI3NqK9Qgs20Py2V4YlrdxLJW9l/x46vpr0wDQhF4ZbQ5sr1BZ41UJJsbh7kf+yu9QFaIWIS8gvEsBBa5MCAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAJ6i1bFRmBHWjnunffyR6h4rKdE+IlhAzfCGK2n+qmBOGObc8mZsueSgQv8Xgn2KKod1am472ZgKUeZgXSIzRgtv2thQJywLjTj4BRuHyUyuQAHvwbeHLwwlEZiLi2m2QsnzwtDEp3yQpq+lUUudXdvHPgV7F4rlr/Mx8vTIqJFZ" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="myBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>