<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DNV863.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <DNV863.Properties.Settings>
      <setting name="conn" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=nmsplan;User ID=sa;Password=123456</value>
      </setting>
      <setting name="ip" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="mapurl" serializeAs="String">
        <value>http://localhost:8080/img.aspx</value>
      </setting>
      <setting name="mappath" serializeAs="String">
        <value>http://mt3.google.cn/vt/lyrs=s@167000000&amp;hl=zh-CN&amp;gl=cn&amp;x={x}&amp;y={y}&amp;z={layer}&amp;s=Galil</value>
      </setting>
      <setting name="mappath2" serializeAs="String">
        <value>http://mt3.google.cn/vt/lyrs=h@167000000&amp;hl=zh-CN&amp;gl=cn&amp;x={x}&amp;y={y}&amp;z={layer}&amp;s=Galil</value>
      </setting>
      <setting name="tmpyzold" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=nmsplan;User ID=sa;Password=123456</value>
      </setting>
      <setting name="tmpMysql" serializeAs="String">
        <value>server=localhost;user id=root;database=nmsplan;Password=zhh221</value>
      </setting>
      <setting name="tmpyznew" serializeAs="String">
        <value>Data Source=(local);Initial Catalog=dnv863;User ID=sa;Password=123456</value>
      </setting>
      <setting name="tmpmappath" serializeAs="String">
        <value>http://192.168.1.234//map/{layer}/{x}/{y}/{layer}_{x}_{y}.png</value>
      </setting>
      <setting name="tmpweb1" serializeAs="String">
        <value>http://mt3.google.cn/vt/lyrs=s@167000000&amp;hl=zh-CN&amp;gl=cn&amp;x={x}&amp;y={y}&amp;z={layer}&amp;s=Galil</value>
      </setting>
      <setting name="tmpweb2" serializeAs="String">
        <value>http://mt3.google.cn/vt/lyrs=h@167000000&amp;hl=zh-CN&amp;gl=cn&amp;x={x}&amp;y={y}&amp;z={layer}&amp;s=Galil</value>
      </setting>
    </DNV863.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataService" maxReceivedMessageSize="12800000">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfDataService/DataService.svc/username"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="WcfDataService.IDataService" name="WSHttpBinding_IDataService" behaviorConfiguration="myBehavior">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAyRs3jLU5zmG2fvZYgrzyBTwivEYgAAAAAQAAANUBAAAwggHRMIIBOqADAgECAhBD7+OORiQzqURXT0Yv9th8MA0GCSqGSIb3DQEBBQUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xNTExMjkxOTExMDZaFw0yMDExMzAwMDAwMDBaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA0h+rKtkgUSOWwrFZPUiU9OUONB68Sdgqh2VSz4ly20mxmFxAHvAPVD1jCcg36Uf+SUzljgHX5yQ8wLDQ3SBn2tbAgeI3NqK9Qgs20Py2V4YlrdxLJW9l/x46vpr0wDQhF4ZbQ5sr1BZ41UJJsbh7kf+yu9QFaIWIS8gvEsBBa5MCAwEAAaMkMCIwCwYDVR0PBAQDAgSwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMA0GCSqGSIb3DQEBBQUAA4GBAJ6i1bFRmBHWjnunffyR6h4rKdE+IlhAzfCGK2n+qmBOGObc8mZsueSgQv8Xgn2KKod1am472ZgKUeZgXSIzRgtv2thQJywLjTj4BRuHyUyuQAHvwbeHLwwlEZiLi2m2QsnzwtDEp3yQpq+lUUudXdvHPgV7F4rlr/Mx8vTIqJFZ" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
